{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/style.css">

<div id="welcome">
        <h1>Welcome to Rock Paper Scissors!</h1>
        <h2><a href="https://en.wikipedia.org/wiki/Rock_paper_scissors">The brutal game that's fun for all the family!</a></h2>
        <div id="about">
        <h3>Origins</h3>
        <p>Rock, paper, scissors (or Paper, Scissors, Stone according to some weirdos) is an ancient game, tracing its origins back to the Han Dynasty in China.</p>
        </div>
        <div id="rps">
            <img src="/static/rps.png" alt="Rock paper and scissors">
        </div>
{% endblock %}